<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if title %}{{title}} - {% endif %}Flax/Kotahi demo{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/sanitize.css" />
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body{% if page.url != '/' %} class="not-homepage"{% endif %}>
    <div class="container">
    {% include 'partials/header.njk' %}
    <main>
    
    {% block content %}
    {{content|safe}}
    {% endblock %}
    </main>
    {% include 'partials/footer.njk' %}
    </div>
</body>
</html>
