{% extends 'layouts/_base.njk' %}
{% set currentPage = article %}
{% set title = article.title %}

{% block content %}
<article>
	<h2>{{article.title}}</h2>
	<div class="cms-content">
		{{article.content|safe}}
	</div>
</article>
{% endblock %}
