{% extends 'layouts/_base.njk' %}

{% block content %}

<article>
<h2>Articles in the index:</h2>
<ul>
{% for article in articleQuery.articles %}
<li><a href="/article/{{article.shortId}}/">{{article.meta.title}}</a></li>
{% endfor %}
</ul>
</article>

{% endblock %}
