{% extends 'layouts/_base.njk' %}

{% block content %}

<p>List of all the stuff goes here!</p>
<section class="post-list">
<ul>
{% for post in wp.posts %}
<li><a href="/article/{{post.slug}}/">{{post.title}}</a></li>
{% endfor %}
</ul>
</section>

{% endblock %}
