---
layout: 'layouts/_base.njk'
permalink: '/about.html'
title: about this site
---
<article>
<h2>About this site</h2>
<p>This is a version that only uses Eleventy – there's no React. It's pulling content from a WordPress GraphQL endpoint. It makes a page for each article and dumps the HTML into a div. There's no markup processing happening.</p>
<p>Note that here images are being included – they're hotlinking to the original WordPress install. We could pretty easily be pulling these in.</p>
</article>